#pnwim-config #pnwim-media-table {
  width: 100%;
  max-width: 100%;
}
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-photo,
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-status,
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-actions {
  width: 10%;
}
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-photo img,
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-status img,
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-actions img {
  max-width: 100%;
}
#pnwim-config #pnwim-media-table tbody tr td.pnwim-td-notes {
  width: 70%;
}
#pnwim-config ul.pagination li.paginate_button.active a {
  pointer-events: none;
}
