.pnwim-photo-wrapper {
    margin: 0 auto;
}

.mapster_tooltip {
    width: initial !important;
}

.mapster_tooltip .pnwim-tooltip-wrapper {
    min-width: 200px;
    text-align: center;
    padding: 0 10px;
    color: #000;
}

.mapster_tooltip .pnwim-tooltip-wrapper .pnwim-tooltip-name {
    font-weight: bold;
}

.mapster_tooltip .pnwim-tooltip-wrapper .pnwim-tooltip-name:empty {
    display: none;
}

.pnwim-title-name,
.pnwim-title-separator,
.pnwim-remove-individual,
.pnwim-mark-individual {
    font-weight: normal;
    font-size: 12px;
    background-color: white;
}

.pnwim-remove-individual,
.pnwim-mark-individual {
    cursor: pointer;
}

.pnwim-reset-changes.hidden,
.pnwim-save-changes.hidden {
    display: none;
}

.pnwim-dialog {
    z-index: 10001;
}

.pnwim-dialog .ui-state-focus {
    margin: 0;
}

.pnwim-dialog-warning {
    color: #F00;
}

.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {
    /*border: 2px solid #3b5998;*/
}