@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

$fancybox-z-index: 99992;
$color-light: #f1ecec;
$color-dark: #444;

.faces-tooltip {
    background: $color-light;
    color: $color-dark;
    padding: 0 4px;
    margin: 5px 0;
    box-shadow: 3px 3px 5px #535353;
    border-radius: 6px 6px 6px 6px;
    opacity: 0.9;
    border: 1px solid $color-dark;
    max-width: 300px;

    .faces-tooltip-wrapper {
        min-width: 200px;
        text-align: center;
        padding: 0 10px;

        .faces-tooltip-name {
            font-weight: bold;
            overflow-wrap: break-word;
            margin: 0;
        }

        .faces-tooltip-life {
            margin: 5px 0 0 0;
            font-size: 80%;
        }

        .faces-tooltip-name,
        .faces-tooltip-life {
            &:empty {
                display: none;
            }
        }

    }
}

#faces-detach-modal,
#faces-attach-modal {
    z-index: $fancybox-z-index + 2;

    & + .modal-backdrop {
        z-index: $fancybox-z-index + 1;
    }

    .select2-container {
        img {
            display: none;
        }
    }
}

.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.fancybox-faces-layout {
    .fancybox-inner {
        .fancybox-toolbar {
            @media all and (max-width: 600px) {
                .fancybox-button {
                    float: right;
                }
            }
            .fancybox-button--fadd {
                svg {
                    transform: rotate(-45deg);
                }
            }
        }

        .fancybox-caption {
            .faces-person-wrapper {
                &:after {
                    content: ',';
                }

                &:last-of-type {
                    &:after {
                        content: '';
                    }
                }

                .faces-person-detach {
                    cursor: pointer;
                    &:hover {
                        color: #dc3545;
                    }
                }
            }
        }
    }

    &.faces-readonly {
        .fancybox-inner {
            .fancybox-toolbar {
                .fancybox-button--fadd,
                .fancybox-button--fconfig {
                    display: none;
                }
            }
        }
    }

    &.faces-zoom {
        .fancybox-caption {
            display: none;
            width: 0;
        }

        .fancybox-toolbar {
            .fancybox-button--fadd {
                display: none;
            }
        }

        @media all and (min-width: 600px) {
            .fancybox-caption {
                display: none;
            }
            .fancybox-stage {
                right: 44px;
            }
            .fancybox-button--arrow_right {
                right: 44px;
            }
        }
    }

    &.faces-select {
        .fancybox-content {
            cursor: default;
        }
    }

    @media all and (min-width: 600px) {
        $sidebar-width: 256px;
        $toolbar-width: 44px;
        $sidebar-padding-x: 20px;

        .fancybox-bg {
            background: #fcfaf9;
        }

        .fancybox-is-open .fancybox-bg {
            opacity: 1;
        }

        .fancybox-caption {
            background: $color-light;
            color: $color-dark;
            bottom: 0;
            left: auto;
            padding: 30px 0;
            right: $toolbar-width;
            top: 0;
            width: $sidebar-width;
            overflow-y: auto;

            .fancybox-caption__body {
                max-height: 100%;
                overflow-x: hidden;
                padding: 0 $sidebar-padding-x;

                .faces-title {
                    color: $color-dark;
                    font-size: 21px;
                    line-height: 1.3;
                    margin-bottom: 5px;
                    overflow-wrap: break-word;
                }

                .faces-subtitle {
                    font-size: 16px;
                    margin-bottom: 5px;

                    &:last-of-type {
                        margin-bottom: 25px;
                    }
                }

                a {
                    color: $color-dark;
                }

                &::before {
                    display: none;
                }

                .faces-person-wrapper {
                    $detach-width: 18px;
                    $detach-indent: 7px;
                    display: block;
                    font-size: 0;

                    &:after {
                        content: '';
                    }

                    .faces-person-name {
                        font-size: 14px;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        max-width: calc(100% - #{$detach-width + $detach-indent});
                        vertical-align: middle;
                    }

                    .faces-person-detach {
                        font-size: 14px;
                        display: inline-block;
                        width: $detach-width;
                        text-align: right;
                        vertical-align: middle;
                        margin-left: $detach-indent;
                    }
                }

                .faces-highlight-all {
                    opacity: 0.8;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }

        .fancybox-stage {
            right: $sidebar-width + $toolbar-width;
        }

        .fancybox-toolbar {
            background: #3b3b45;
            bottom: 0;
            left: auto;
            right: 0;
            top: 0;
            width: 44px;
        }

        .fancybox-navigation {
            .fancybox-button {
                background: transparent;

                &[disabled] {
                    color: #999;
                }

                &:not([disabled]) {
                    color: #333;

                    &:hover {
                        div {
                            opacity: 1;
                        }
                    }
                }

                div {
                    padding: 6px;
                    background: #fcfaf9;
                    border-radius: 50%;
                    transition: opacity .2s;
                    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
                    opacity: .7;
                }
            }
        }

        .fancybox-button--arrow_right {
            right: $sidebar-width - 2 * $sidebar-padding-x + $toolbar-width + 40px;
        }
    }
}

